@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-background: #15171c;
  --color-background2: #2a2633;
  --color-base1: #20232b;
  --color-text: #fafaff;
  --color-overlay1: #59577f;
  --color-overlay2: #d2bcf3;
  --color-overlay3: #273469;
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  font-family: "Nunito", sans-serif;
}
