@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-background: #ebe0d8;
  --color-background2: #ebe0d8;
  --color-base1: #e3d6cc;
  --color-surface0: #d2c6bc;
  --color-overlay1: #b9aea5;
  --color-overlay2: #252526;
  --color-text: #1e1e1e;
  --color-red: #a2575a;
  --color-blue: #586f86;
  --color-peach: #a87a4f;
}

* {
  /* font-family: "Nunito", sans-serif; */
  font-family: "JetBrains Mono", monospace;
}
