@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
}
@layer base {
  :root {
    --color-base: 30, 30, 46;
    --color-textBase: 205, 214, 244;
    --color-textPlaceholder: 239, 241, 245;
    --color-Subtext0: 166, 173, 200;
    --color-surface0: 49, 50, 68;
    --color-surface1: 69, 71, 90;
    --color-surface2: 88, 91, 112;
    --color-rosewater: 245, 224, 220;
    --color-green: 166, 227, 161;
    --color-red: 243, 139, 168;
    --color-teal: 148, 226, 213;
    --color-accent: 137, 180, 250;
    --color-new: 203, 166, 247;
    --color-learning: 250, 179, 135;
    --color-review: 166, 227, 161;
    --color-overlay0: 108, 112, 134;
    --color-overlay1: 127, 132, 156;
  }
}

html.light {
  --color-base: 239, 241, 245;
  --color-textBase: 76, 79, 105;
  --color-textPlaceholder: 76, 79, 105;
  --color-Subtext0: 108, 111, 133;
  --color-surface0: 204, 208, 218;
  --color-surface1: 188, 192, 204;
  --color-surface2: 172, 176, 190;
  --color-rosewater: 220, 138, 120;
  --color-green: 64, 160, 43;
  --color-red: 210, 15, 57;
  --color-teal: 23, 146, 153;
  --color-accent: 30, 102, 245;
  --color-new: 203, 166, 247;
  --color-learning: 250, 179, 135;
  --color-review: 166, 227, 161;
  --color-overlay0: 156, 160, 176;
  --color-overlay1: 140, 143, 161;
}

@layer utilities {
  Hide scrollbar for Chrome,
  Safari and Opera .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
