@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-background: oklch(0.2047 0.0104 268.17);
  --color-background2: oklch(0.2786 0.0242 298.91);
  --color-base1: oklch(0.2566 0.0157 269.06);
  --color-text: oklch(0.9865 0.0066 286.28);
  --color-overlay1: oklch(0.4754 0.064 285.98);
  --color-overlay2: oklch(0.8319 0.0792 302.97);
  --color-overlay3: oklch(0.344 0.0936 270.46);
}

* {
  font-family: "Nunito", sans-serif;
}
